.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.Signup_outer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 400px;
  height: 400px;
  box-shadow: 0 8px 30px 0 #262626;
  margin-bottom: 30px;
  background-color: #4CAF4F;
  border-radius: 10px;
}

.Signup_outer>h1 {
  color: white;
}

form {
  display: flex;
  gap: 10px;
  flex-direction: column;
  width: 300px;
}

form>label {
  font-size: medium;
  font-weight: bold;
  font-family: inter;
  margin: 0;
  color: white;
}

form>button {
  border: none;
  background-color: #3083DC;
  padding: 10px;
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
  color: white;
}

form>button:hover {
  background-color: white;
  color: black;
}

.forgot-signup {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 140px;
  height: 30px;
  width: 100%;
}

.forgot-signup>a {
  color: white;
  text-decoration: underline;
  font-size: 15px;
}

.forgot_outer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0 8px 30px 0 #262626;
  width: 400px;
  padding: 20px;
  margin: auto;
  margin-top: 8%;
}

.forgot_outer>form>h1 {
  text-align: center;
}

.outer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #F5F7FA;
}

.logo_img {
  display: flex;
  align-items: center;
  padding-left: 105px;
}

.logo_img>img {
  width: 35px;
  height: 24px;
}

.list_items {
  display: flex;
  gap: 50px;
  padding-top: 20px;
}

.list_items {
  list-style: none;
}

.login_button {

  width: Hug (77px)px;
  height: Hug (40px)px;
  padding: 10px 20px 10px 20px;
  border-radius: 6px;
  border: none;
  outline: none;
  background-color: white;
  color: #4CAF4F;
  cursor: pointer;


}

.sign_button {
  width: Hug (91px)px;
  height: Hug (40px)px;
  padding: 10px 20px 10px 20px;
  border-radius: 6px;
  border: none;
  outline: none;
  background-color: #4CAF4F;
  color: white;
  cursor: pointer;
}

.signin_login {
  padding-right: 120px;
  display: flex;
  gap: 10px;

}

/* .signin_login>img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
} */

.login_button:hover {
  background-color: #4CAF4F;
  color: white;
}

.sign_button:hover {
  background-color: white;
  color: #4CAF4F;
}

.img_form_signin {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}

.login_img_div>img {
  width: 500px;

}

.google_signin {
  margin-top: 20px;
}

.forgot_outer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0 8px 30px 0 #262626;
  width: 400px;
  padding: 20px;
  margin: auto;
  margin-top: 8%;
}

.forgot_outer>form>h1 {
  text-align: center;
}

/* 
.cart_icon {
  margin-top: 5px;
  margin-left: 20px;
} */

.cart_outer {
  width: 500px;
  height: 500px;
  background-color: #ffffff;
  box-shadow: 1px 2px 20px #888888;
  z-index: 1;
  position: absolute;
  left: 30%;
  top: 20%;
}

.cart_icon {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  box-shadow: 1px 2px 5px #888888;
  transition: transform 0.3s, box-shadow 0.3s;
}

.cart_icon:hover {
  transform: scale(1.1);
  box-shadow: 1px 4px 10px #888888;
  cursor: pointer;
}

.blur {
  filter: blur(2px);
  pointer-events: none;
}